.footnote {
    font-size: 12px;
    padding-bottom: 2em;
}

.links {
    margin-bottom: 1em;
    text-transform: uppercase;
}

.title {
    text-align: center;
}

.btn-start {
    margin-top: 1em;
    background-color: #1696d2;
    color: #fff;
    border-radius: 1px;
    border-color: none;
    line-height: 1;
    text-transform: uppercase;
}

a.tag {
    font-size: 9px;
    float: right;
    font-weight: 900;
    letter-spacing: 1.5pt;
    text-align: right;
    bottom: 0px;
    text-decoration: none;
    color: inherit;
}

#urban {
    color: #1696d2;
}

.map {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    min-width: 350px;
}

#mapholder {
    margin-top: 30px;
}
.threshmaps {
    display: inline-block;
    width: 33%;
    padding-bottom: 10px;
}

img {
    width: 100%;
}
.counties,
thresh {
    fill: none;
    stroke: none;
}

path:hover {
    stroke: #fcb918;
    opacity: 1;
    stroke-width: 3px;
    cursor: pointer;
}

path.thresh {
    stroke: none;
    pointer-events: none;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    pointer-events: none;
}

.county-name {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
}

.urban-map-tooltip {
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    opacity: 0.85;
    border: 1px solid #aaa;
    pointer-events: none;
}

#legend,
.legend {
    margin-left: auto;
    margin-right: auto;
    display: table;
    font-size: 12px;
    font-weight: 400;
}

#legend-space {
    height: 59px;
    width: 100%;
}

.legend-item {
    float: left;
    margin-right: 2px
}